<!-- <ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>MHealth4</ion-title>
	</ion-toolbar>
</ion-header> -->
<ion-card>
	<ion-card-header>
		<ion-card-title color="primary" class="ion-text-center">MHealth</ion-card-title>
	</ion-card-header>
	<ion-card-content>
   		<form [formGroup]="user" (ngSubmit)="signin()">
			<ion-item><ion-icon slot="start" position="floating" [ios]="'mail-outline'" [md]="'mail-sharp'"></ion-icon>
				<!--<ion-input formControlName="username" (keyup)="user.patchValue({ username: $event.target.value.toLowerCase().trim() })"></ion-input>-->
				<ion-input formControlName="username"></ion-input>
			</ion-item>
			<div></div>
			<ion-item>
				<ion-icon slot="start" position="floating" [ios]="'lock-closed-outline'" [md]="'lock-closed-sharp'"></ion-icon>
				<ion-input type="password" formControlName="password"></ion-input>
			</ion-item>
			<div></div><br/>
			<ion-row>
				<ion-col>
					<ion-button type="submit" color="primary" expand="block" [disabled]="!user.valid">Signin</ion-button>
				</ion-col>
			</ion-row>
			<!--<ion-row><ion-col style="text-align: center">- OR -</ion-col></ion-row>
			<ion-row>
				<ion-col>
					<ion-button color="secondary" expand="block" (click)="registration()">Register</ion-button>
				</ion-col>
			</ion-row>-->
        </form>
	</ion-card-content>
</ion-card>
