ion-title {
	text-align: center;
}

ion-card {
	padding: 10px;
	margin: auto;
	align-items: center;
    justify-content: center;
}

ion-row, ion-col {
	padding-left: 0px;
	padding-right: 0px;
}

ion-icon {
	margin-left: -5px;
	margin-right: 15px;
}

ion-button {
	margin-left: 0px;
	margin-right: 0px;
}

div {
	height: 10px;
}
