<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Visualisations</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-segment [(ngModel)]="segment" (ngModelChange)="segmentChanged()">
		<ion-segment-button value="general">
			<ion-label>General</ion-label>
		</ion-segment-button>
		<ion-segment-button value="who">
			<ion-label>WHO</ion-label>
		</ion-segment-button>
	</ion-segment>
	
	<div class="chart-container">
		<canvas baseChart [type]="chartType" [legend]="chartLegend" [options]="chartOptions" 
			[labels]="generalChartLabels" [datasets]="generalChartData" *ngIf="segment === 'general'"></canvas>
	
		<canvas baseChart [type]="chartType" [legend]="chartLegend" [options]="chartOptions" 
			[labels]="whoChartLabels" [datasets]="whoChartData" *ngIf="segment === 'who'"></canvas>
	</div>
</ion-content>